/* 
colors: 
red: #DF2332
yellow: #FFC700
*/

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  height: 42em;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding-top: 5em;  
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

.footer-top__info {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 100%;
}

.footer-top__info h3 {
  text-decoration: underline;
  color: #FFC700;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  text-align: center;
  background: #DF2332;
}

.footer-bottom p {
  margin: 0.25em;
}

@media (min-width: 1024px) {
  .container {
    padding-top: 8em;  
  }

  footer {
    height: 25em
  }

  .footer-top {
    flex-direction: row;
  }

  .footer-top__info {
    width: 33%;
    height: 100%;
    justify-content: flex-start;
    padding: 2em;
  }

  .footer-bottom p {
    font-size: 0.75rem;
  }
}

@media (min-width: 1920px) {
  .container {
    padding-top: 10em;  
  }

  .footer-top {
    height: 85%;
  }

  .footer-top__info {
    font-size: 1.35rem;
    padding: 3em;
  }

  .footer-bottom {
    height: 15%;
  }

  .footer-bottom p {
    font-size: 1.25rem;
  }

  footer {
    height: 35em;
  }
}

@media (min-width: 2560px) {

  .container {
    padding-top: 12em;  
  }

}
