/* 
colors: 
red: #DF2332
yellow: #FFC700
*/

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;  
  /* background-color: red;  */
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
  /* background-color: red; */
}

.footer-top__info {
  padding: 2.5em;
  height: 100%;
  width: 33%;
  /* background-color: yellow; */
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}
