.testimonials-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.testimonials-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testimonial-photo {
  height: 13em;
  width: 85%;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.5);
}

.testimonial-photo img {
  height: 100%;
  width: 100%;
}

.pagination-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1.5em;
  width: 6em;
  margin: 1em;
}

.dot {
  height: 1em;
  width: 1em;
  border-radius: 5em;
  border: 1px solid #000;
}

.testimonials-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em;
  color: #fff;
}

.testimonial-cta-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.yelp-review__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  height: 3em;
  width: 15em;
  font-size: 1rem;
  border-radius: 5rem;
  background: #000;
  margin: 1em;
}

.google-review__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  height: 3em;
  width: 15em;
  font-size: 1rem;
  border-radius: 5rem;
  background: #ffc700;
  margin: 1em;
}

@media (min-width: 768px) {
  .testimonial-photo {
    height: 20em;
    width: 70%;
  }

  .testimonial-cta-buttons-container {
    justify-content: space-evenly;
  }

  .google-review__button {
    font-size: 1rem;
  }

  .yelp-review__button {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
.testimonial-photo {
    height: 18em;
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .testimonial-photo {
    height: 15em;
    width: 25%;
  }

  .testimonials-right {
    padding: 0 5em 0;
  }
}

@media (min-width: 1920px) {
  .testimonial-photo {
    height: 19em;
    width: 25%;
  }

  .testimonials-right {
    padding: 0 30em 0;
  }

  .testimonials-right p {
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  .testimonial-photo {
    width: 20%;
  }

  .testimonials-right {
    font-size: 1.35rem;
  }

  .google-review__button {
    font-size: 1.5rem;
  }

  .yelp-review__button {
    font-size: 1.5rem;
  }
}
